/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  padding: 48px;
  background-color: #1dd1a1;
  color: white;
}

h1 {
  width: 100%;
  text-align: center;
} */
